<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="user-token" content={assigns[:user_token]} />
    <.live_title suffix=" · The XR space">
      <%= assigns[:page_title] || "Xr" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="module" src={~p"/assets/app.js"}></script>
    <%= if assigns[:orchestrator] do %>
    <script defer phx-track-static type="module" src={~p"/assets/orchestrator.js"}></script>
    <% end %>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
