<.header>
  Listing Events
  <:actions>
    <.link href={~p"/rooms"}>
      Back
    </.link>
  </:actions>
</.header>

<.table id="events" rows={@events}>
  <:col :let={event} label="Sequence"><%= event.sequence %></:col>
  <:col :let={event} label="Event name"><%= event.event_name %></:col>
  <:col :let={event} label="Payload"><%= inspect(event.payload) %></:col>
  <:col :let={event} label="Inserted at"><%= event.inserted_at %></:col>
</.table>
